<div class="container">
<h1>My Profile</h1>

<h3>User Details</h3>
<h5>Name: <%= current_user.full_name %></h5> 
<h5>Email: <%= current_user.email %></h5> 
<h5>Contact Number: <%= current_user.contact_number.to_s.rjust(10, "0") %></h5>
<h5>Country: <%= current_user.country %></h5>
<h5>State: <%= current_user.state %></h5>
<h5>City: <%= current_user.city %></h5> 



<%= link_to 'update user info', edit_user_registration_path %>

<h3>Mentor Details</h3>
<% if !(@mentor_details) %>
    <h5>You are not a mentor</h5>
    <%= link_to 'Become a Trainer', new_mentor_path%> 
<% else %>
<h5>Rate: $<%= @mentor_details.conversion %>/hr</h5>
<h5>About Me:</h5>
<h5><%= @mentor_details.about_me %></h5>
<% if @mentor_details.picture.attached? %>
    <h5>Mentor Pic:</h5>
    <%=  image_tag @mentor_details.picture, class: "img-fluid", width: "20%", height: "auto"  %><br/><br/>
<% end %>
<div class="btn-group" role="group" aria-label="Update Trainer Info or Delete Trainer Posting">
    <%= link_to '<button type="button" class="btn btn-secondary">Update Trainer Info</button>'.html_safe, edit_mentor_path(@mentor_details) %>
    <%= link_to '<button type="button" class="btn btn-secondary">Delete Trainer Posting</button>'.html_safe, @mentor_details, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>




<h3>My Bookings</h3>
    
    <% if @user_booking.length == 0 %>  
        <p>You currently have no bookings</p>
    <% else %>
        <% @user_booking.each do |booking| %>
            <h5><%=User.find(Mentor.find(booking.mentor_id).user_id).full_name %></h5>
            <p>Booked: <%= User.find(Mentor.find(booking.mentor_id).user_id).created_at %></p>
            <p>Rate: $<%=Mentor.find(booking.mentor_id).conversion %>/hr | Email: <%=User.find(Mentor.find(booking.mentor_id).user_id).email %> | Contact Number: <%=User.find(Mentor.find(booking.mentor_id).user_id).contact_number.to_s.rjust(10, "0") %></p> 
            <% end %>
    <% end %>
       
       
        
   

<h3>My Clients</h3>
    <% if @mentor_clients.length == 0 %>
        <p>You currently have no clients</p>
    <% else %>
        <% @mentor_clients.each do |client| %>
            <h5><%= User.find(client.user_id).full_name %></h5>
            <p>Booked: <%= User.find(client.user_id).created_at %></p>
            <p>Email: <%= User.find(client.user_id).email %> | Contact Number: <%= User.find(client.user_id).contact_number.to_s.rjust(10, "0") %></p>
        <% end %>
    <% end %>
</div>






