<h1>My Profile</h1>

<h3>Details</h3>
<h5>Name: <%= current_user.full_name %></h5> 
<h5>Email: <%= current_user.email %></h5> 
<h5>Contact Number: <%= current_user.contact_number %></h5>
<h5>Country: <%= current_user.country %></h5>
<h5>State: <%= current_user.state %></h5>
<h5>City: <%= current_user.city %></h5>


<%= link_to 'update info', edit_user_registration_path %>



