<%= form_with(model: @mentor, local: true) do |form| %>
    <div class="field">
        <%= form.label :rate, "Rate Per Hour" %>
        <%= form.number_field :rate %>
    </div>

    <br/>

    <div class="field">
        Skills
        <br/>
        <% @skills.each do |skill| %>
            <%= check_box_tag "mentor[skill_ids][]", skill.id, @mentor.skill_ids.include?(skill.id), id: dom_id(skill) %>
            <%= label_tag dom_id(skill), skill.skills %><br/>
        <% end %>
    </div>

    <br/>

    <div class="field">
        <%= form.label :picture %>
        <%= form.file_field :picture, accept: "image/png,image/gif,image/jpeg,image/jpg" %>
    </div>

    <div class="field">
        <%= form.label :about_me %>
        <br/>
        <%= form.text_area :about_me, size: "24x6" %>
    </div>

    <div class="actions">
        <%= form.submit "Submit" %>
    </div>
<% end %>