<%@mentors.each do |mentor| %>
    <div>
        <%= image_tag mentor.picture if mentor.picture.attached? %>
        <p><h3><%= mentor.user.full_name %></h3></p>
        <% mentor.skills.each do |skill| %>
        <ul>
            <li><%= skill.skills %></li>
        </ul>
        <% end %>
        <strong>$<%= mentor.conversion %>/hr</strong>
        <%= link_to 'more' , mentor_path(mentor.id) %>
    </div>



<% end %>