<div class="col-md-9 index">
    <div class="container-fluid">
        <div class="row">
            <% @mentors.each do |mentor| %>
                    <div class="col-md-4">
                        <div class="card mt-2">
                            <% if mentor.picture.attached? %>
                                <%= link_to image_tag(mentor.picture, class: "img-fluid card-img-top", width: "100%", height: "auto"), mentor_path(mentor.id), class: "stretched-link" %>
                            <% else %>
                                <%= link_to image_tag("default_avatar.png", class: "img-fluid card-img-top", width: "100%", height: "auto"), mentor_path(mentor.id), class: "stretched-link" %>
                            <% end %>
                            <div class="card-body h-50 p-10">
                                <h3 class="card-title mb-0"><%= mentor.user.full_name %></h3>
                                <% mentor.reviews.average(:rating).to_i.times do %>
                                    <span class="fas fa-star"></span>
                                <% end %>
                                <% (5 - mentor.reviews.average(:rating).to_i).times do  %>
                                    <span class="far fa-star"></span>
                                <% end %>
                                <br/>
                                <small class="card-text">|
                                    <% mentor.skills.each do |skill| %>
                                        <%= skill.skills %> |
                                    <% end %>
                                </small>
                                <br/>
                                <strong class="card-text">$<%= mentor.conversion %>/hr</strong>
                            </div>
                        </div>
                    </div>
            <% end %>
        </div>
        <%= paginate @mentors %>
        <%= page_entries_info @mentors %>
    </div>
</div>