<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <% @mentor.reviews.each_with_index do |review, index| %>
                <div class="review">
                    <% if index % 2 == 0 %>
                        <p><strong><%= review.user.full_name %></strong></p>
                        <p><%= review.rating %></p>
                        <p><%= review.body %></p>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="col-md-6">
            <% @mentor.reviews.each_with_index do |review, index| %>
                <div class="review">
                    <% if index % 2 == 1 %>
                        <p><strong><%= review.user.full_name %></strong></p>
                        <p><%= review.rating %></p>
                        <p><%= review.body %></p>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>