


<% if @check_if_mentor == nil or current_user.mentor.id != params[:id].to_i %>
  <h1>Booking Confirmation</h1>
  <h2><%= @mentor.user.full_name %></h2>

  <p>You are about to book <strong><%= @mentor.user.full_name %></strong>, to book, please pay the hourly rate of $<%= @mentor.conversion %></p>

  <button id ="stripePayment">$<%= @mentor.conversion %> </button>

  <%= javascript_include_tag "payment_button" %>

  <% else %>
  <h1>Sorry you can not book yourself!</h1>
  <p>payment will not go ahead</p>
  <%= link_to 'back to trainers', mentors_path %> %>


  <script> 
      document.getElementById("stripePayment").addEventListener("click", function(){

      var stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public) %>");

      stripe.redirectToCheckout({
          sessionId: '<%= @stripe_session_id  %>',
    }).then(function (result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
    });
  });
  </script>


   <% end %>


  
 