<div class="container-fluid">
    <div class="row">
        <%= render 'mentor' %>
        <div class="col-md-8">
            <div class="pb-2 mt-4 mb-2 border-bottom">
                <h1><%= @mentor.user.full_name  %></h1>
            </div>
            <h2>About Me</h2>
                <p><%= @mentor.about_me %></p>
            <h2>Skills</h2>|
                <% @mentor.skills.each do |skill| %>
                        <%= skill.skills %> |
                <% end %><br/><br/>
            <h2>Reviews</h2>
            <%= render 'reviews' %>
        </div>
    </div>
</div>