<!DOCTYPE html>
<html>
  <head>
    <title>RailsAssessment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
<<<<<<< HEAD
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <%= link_to "home", root_path, class:"navbar-brand" %>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-auto" id="navbarMenu">
        <ul class= "navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Log Out", destroy_user_session_path, class:"nav-link", method: "DELETE" %>
            </li>
            <li class="nav-item">
              <%= link_to "My Profile", profile_path(current_user), class:"nav-link", method: "GET" %>
            </li>
            <% if Mentor.find_by(user_id: current_user.id) == nil %>
              <li class="nav-item">
                <%= link_to "Become a Trainer", new_mentor_path, class:"nav-link", method: "GET" %>
              </li>
            <% end %>
          <% else %>
            <li class="nav-item">
              <%= link_to "Log In/Sign Up", user_session_path, class:"nav-link", method: "GET" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Trainers", mentors_path, method: "GET", class:"nav-link" %>
          </li>
        </ul>
      </div>
=======
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <ul>
        <li><%= link_to "logout", destroy_user_session_path, method: "DELETE" if user_signed_in? %>
        <%= link_to "login", user_session_path, method: "GET" unless user_signed_in? %></li>
        <li><%= link_to "My Profile", profile_path(current_user), method: "GET" if user_signed_in? %></li>
        <li><%= link_to "Sign Up", new_user_registration_path, method: "GET" unless user_signed_in? %></li>

      </ul>
>>>>>>> c702daac6738acd09373bd541d17ac10415e70cd
    </nav>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
